---
# _Introduction to Python Basics for Data Science_
## _Date: 26 Sep_
---

## Overview

Dear Learner, 

Congratulations, you have studied Python all the way through the end of this bootcamp!!! This is the final graded hands-on exercise where you will be accomplishing the below mentioned task.

Authors: Albana Celepija, Vinayak Deshpande

### Task 1

We have declared a tuple containing five same elements as following:  
T = (‘python’, ‘python’, ‘python’, ‘python’, ‘python’).  
Re-write the same code in an optimal/simple way that fetches the same result.

In [1]:
T = tuple(['python']) * 5
T

('python', 'python', 'python', 'python', 'python')

### Task 2

Write code to print characters from a string that are present at an even index number.  
For example, if your input string is "python", the output characters will be (p,t,o).

In [2]:
string = 'Python_Programming'
for i in range(0, len(string), 2):
    print(string[i])

P
t
o
_
r
g
a
m
n

### Task 3

Write a function that calculates the average of the elements of the list: 

elements = [5, 7, 4, 9, 2]

In [3]:
elements = [5, 7, 4, 9, 2]
print('List:', elements)
print('Average:', sum(elements)/len(elements))

List: [5, 7, 4, 9, 2]
Average: 5.4

### Task 4
Write code to find if the given year is a leap year or not.

In [4]:
def leap_year(year):
    if (year%400 == 0 or (year%4 == 0 and year%100 != 0)): 
        print(f'{year} is Leap Year!')
    else: 
        print(f'{year} is not Leap Year!')

In [5]:
leap_year(1999)
leap_year(2000)

1999 is not Leap Year!
2000 is Leap Year!

### Task 5
Given a list of numbers (integers), find the sum of second maximum and second minimum in the following list.

l = [21, 6, 12, 57, 35, 61]

In [6]:
l = [21, 6, 12, 57, 35, 61]
l = sorted(l)
print('Sorted List:', l)
print('sum of second maximum and second minimum:', l[1]+l[-2])

Sorted List: [6, 12, 21, 35, 57, 61]
sum of second maximum and second minimum: 69

---