---
# _Introduction to Pandas_
## _Date: 29 Sep_
---

## Overview

Dear Learner, 

Congratulations, you have studied Pandas all the way through the end of this bootcamp!!! This is the final graded hands-on exercise where you will be accomplishing the below mentioned task.

For the tasks, we'll be using the COVID-19 Data Repository by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University. You can find the orginal dataset here: https://github.com/CSSEGISandData/COVID-19


**Dataset Link**: https://raw.githubusercontent.com/dphi-official/Datasets/master/covid_19_data.csv

**Resources**: You may consider referring to this resource while solving this project: https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/

**Information about the dataset:**

There are 8 features:

* SNo: Serial number
* ObservationDate: Date of observation of the cases (format: MM/DD/YYYY)
* Province/State: Province or State of the country where cases were observed
* Country/Region: Country where cases were observed
* Last Update: Time in UTC at which the row is updated for the given province or country. (It is not in a standard format)
* Confirmed: Cumulative number of confirmed cases till the date
* Deaths: Cumulative number of deaths till the date
* Recovered: Cumulative number of recovered cases till date

**Instruction for the learner:** 
* Recommended to revise 'groupby()' method of pandas
* Recommended to understand the word **'Cummulative'** properly for three features - 'Confirmed', 'Recovered' and 'Deaths'.
* Please note that the dtype of datetime columns are of object, convert them to datetime as shown below:

In [1]:
# Importing Library
import pandas as pd

### **Task 1**

* Read the dataset and name is as `df`
* Print first 10 observations of the dataset
* Check for the data types of the all the variables in the dataset
* Convert columns ['ObservationDate'] and ['Last Update'] to from object to datatime data type.

In [2]:
# Reading the dataset 
df = pd.read_csv('covid_19_data.csv')

In [3]:
# First 10 observations
df.head(10)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
5,6,01/22/2020,Guangdong,Mainland China,1/22/2020 17:00,26.0,0.0,0.0
6,7,01/22/2020,Guangxi,Mainland China,1/22/2020 17:00,2.0,0.0,0.0
7,8,01/22/2020,Guizhou,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
8,9,01/22/2020,Hainan,Mainland China,1/22/2020 17:00,4.0,0.0,0.0
9,10,01/22/2020,Hebei,Mainland China,1/22/2020 17:00,1.0,0.0,0.0

In [4]:
# data types of the all the variables
df.dtypes

SNo                  int64
ObservationDate     object
Province/State      object
Country/Region      object
Last Update         object
Confirmed          float64
Deaths             float64
Recovered          float64
dtype: object

In [5]:
# Converting 'ObservationDate' & 'Last Update' from object to datatime data type.
df['ObservationDate'] = pd.to_datetime(df['ObservationDate'])
df['Last Update'] = pd.to_datetime(df['Last Update'])
df.dtypes

SNo                         int64
ObservationDate    datetime64[ns]
Province/State             object
Country/Region             object
Last Update        datetime64[ns]
Confirmed                 float64
Deaths                    float64
Recovered                 float64
dtype: object

---

### **Task 2**
* Create a subset of the data `df`, only taking observations which was **last updated** on **2020-06-13 03:33:14** and name this dataframe as **updated_data**. 
* Print the total no. of observations and unique country records in **updated_data**

In [6]:
# updated_data: observations which was last updated on 2020-06-13 03:33:14
updated_data = df[df['Last Update'] == '2020-06-13 03:33:14'].reset_index(drop=True)
updated_data.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,40077,2020-06-12,NaN,Afghanistan,2020-06-13 03:33:14,23546.0,446.0,3928.0
1,40078,2020-06-12,NaN,Albania,2020-06-13 03:33:14,1416.0,36.0,1034.0
2,40079,2020-06-12,NaN,Algeria,2020-06-13 03:33:14,10698.0,751.0,7322.0
3,40080,2020-06-12,NaN,Andorra,2020-06-13 03:33:14,853.0,51.0,781.0
4,40081,2020-06-12,NaN,Angola,2020-06-13 03:33:14,130.0,5.0,42.0

In [7]:
# total no. of observations and unique country records in updated_data
print('* Total No. of Observations:', len(updated_data))
print('* Unique country records:')
updated_data['Country/Region'].value_counts()

* Total No. of Observations: 729
* Unique country records:

Russia      83
US          58
Japan       48
India       36
Colombia    34
            ..
Haiti        1
Holy See     1
Honduras     1
Hungary      1
Macau        1
Name: Country/Region, Length: 190, dtype: int64

---

### **Task 3**
* Create a subset of data from the dataframe **updated_data**, only taking the top 10 countries which have the maximum number of confirmed cases with features - **'Country/Region', 'Confirmed', 'Deaths' and 'Recovered'**. Name this dataframe as 'top_10'

* print the name of the countries in 'top_10' dataset
* Which country has the lowest number of confirmed cases among the ten countries in top_10 dataframe?
Hint: use groupby() to group all the observations with same country, sum all the observations and then sort the dataframe by confirmed cases.

In [8]:
# top_10: countries which have the maximum number of confirmed cases
features = ['Country/Region', 'Confirmed', 'Deaths', 'Recovered']
top_10 = updated_data[features].sort_values('Confirmed', ascending=False)[:10].reset_index(drop=True)
top_10

  Country/Region  Confirmed   Deaths  Recovered
0             US   381714.0  30758.0        0.0
1         Russia   202935.0   3187.0   118024.0
2         France   188918.0  29315.0    69578.0
3           Iran   182525.0   8659.0   144649.0
4         Turkey   175218.0   4778.0   149102.0
5         Brazil   167900.0  10368.0    49295.0
6             US   166164.0  12489.0        0.0
7             UK   156410.0  37069.0        0.0
8             US   146659.0   4978.0        0.0
9             US   131198.0   6260.0        0.0

In [9]:
# Name of the countries in 'top_10' dataset
print("Countries in 'top_10' dataset:\n", list(top_10['Country/Region'].unique()))

Countries in 'top_10' dataset:
 ['US', 'Russia', 'France', 'Iran', 'Turkey', 'Brazil', 'UK']

In [10]:
# for finding lowest number of confirmed cases among the ten countries
lowest_confirmed = top_10.groupby('Country/Region').sum().sort_values('Confirmed').index[0]
print(f"'{lowest_confirmed}' has the lowest number of confirmed cases.")

'UK' has the lowest number of confirmed cases.

---

### **Task 4**
* Add two columns in 'top_10' dataframe - 'Recovered_percentage' and 'Deaths_percentage' where
```
'Recovered_percentage' = (Recovered cases / Confirmed cases) * 100
'Death_percentage' = (Deaths cases / Confirmed cases) * 100
```
* Print the top 3 countries with highest recovery percent

In [11]:
# Adding columns 'Recovered_percentage' & 'Deaths_percentage' to top_10
top_10['Recovered_percentage'] = (top_10['Recovered'] / top_10['Confirmed']) * 100
top_10['Death_percentage'] = (top_10['Deaths'] / top_10['Confirmed']) * 100
top_10

,Country/Region,Confirmed,Deaths,Recovered,Recovered_percentage,Death_percentage
0,US,381714.0,30758.0,0.0,0.000000,8.057865
1,Russia,202935.0,3187.0,118024.0,58.158524,1.570454
2,France,188918.0,29315.0,69578.0,36.829736,15.517314
3,Iran,182525.0,8659.0,144649.0,79.248870,4.744008
4,Turkey,175218.0,4778.0,149102.0,85.095139,2.726889
5,Brazil,167900.0,10368.0,49295.0,29.359738,6.175104
6,US,166164.0,12489.0,0.0,0.000000,7.516068
7,UK,156410.0,37069.0,0.0,0.000000,23.699891
8,US,146659.0,4978.0,0.0,0.000000,3.394268
9,US,131198.0,6260.0,0.0,0.000000,4.771414

In [12]:
# Top 3 countries with highest recovery percent
top_10.sort_values('Recovered_percentage', ascending=False)[['Country/Region', 'Recovered_percentage']][:3]

  Country/Region  Recovered_percentage
4         Turkey             85.095139
3           Iran             79.248870
1         Russia             58.158524

---